<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="TradesDAO" class="com.company.TradesDAO"/>
    <bean id="Downloader" class="com.company.FTPDownloader"/>
    <bean id="Parser" class="com.company.CSVParser"/>
    <bean id="DummyDownloader" class="com.company.DummyDownloader"/>
    <bean id="DummyParser" class="com.company.DummyParser"/>
    <bean id="TradesJob" class="com.company.TradesJob" init-method="run">
        <constructor-arg ref="tradesDAO"></constructor-arg>
    </bean>
    <bean id="tradesDAO" class="com.company.TradesDAO"/>
</beans>


